<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942003914029-jlqvlhnsf9lo5faptk4opjpahnnipc3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942003914029-jlqvlhnsf9lo5faptk4opjpahnnipc3j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>942003914029-j850dd3suugvspbcv39pjf4skobhh9j8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMYMfkTbs_mpBH5GxRlD1xMQpAufhrrUs</string>
	<key>GCM_SENDER_ID</key>
	<string>942003914029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mdycode.waiyan.votingDemo</string>
	<key>PROJECT_ID</key>
	<string>voting-demo-7f34f</string>
	<key>STORAGE_BUCKET</key>
	<string>voting-demo-7f34f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942003914029:ios:769807e368ee94f0853fa4</string>
	<key>DATABASE_URL</key>
	<string>https://voting-demo-7f34f.firebaseio.com</string>
</dict>
</plist>